<h1>Please log in</h1>

<%= form_tag('/session/authenticate',method:"post") do %>
    <p>Username
    <%= text_field_tag :username %></p>
    <p>Password:
        <%= text_field_tag :password %></p>
    <p>
      <%= submit_tag "Submit" %>
    </p>

<% end %>