<!DOCTYPE html>
<html>
<head>
  <title>SessionForTylerWhoIsAPain</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--usually put an if statement here like "if it exists" -->
<% unless session[:user].nil? %>
<h1> "Welcome" <%=session[:user] %> </h1>
<p><%= link_to "Log Out", session_logout_path %></p>

<%end%>
<%= yield %>

</body>
</html>
